<!DOCTYPE html>
<html>

<head>
  <title>Nodemyn - MySQL Admin</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/custom.css' />
  <link rel='stylesheet' href='/stylesheets/w3.css' />
</head>

<body>
  <h1>Nodemyn - MySQL Admin</h1>

  <form class="w3-container" action="/login" method="post">

    <div class="w3-row">

      <div class="w3-threequarter">
        <label for="host"><b>Host</b></label>
        <input class="w3-input" type="text" name="host" placeholder="Host Address">
      </div>

      <div class="w3-quarter">
        <label for="port"><b>Port</b></label>
        <input class="w3-input" type="text" name="port" placeholder="Porta MySQL" value="3306">
      </div>

    </div>


    <label for="username"><b>Username</b></label>
    <input class="w3-input" type="username" name="username" placeholder="Username">


    <label for="password"><b>Password</b></label>
    <input class="w3-input" type="password" name="password" placeholder="Password">

    <label for="database"><b>Database</b></label>
    <input class="w3-input" type="text" name="database" placeholder="Database">

    <button class="c-panel w3-button w3-orange" type="submit">Sign in</button>

  </form>

</body>

</html>