<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/w3.css">
    <link rel="stylesheet" href="../public/stylesheets/custom.css">

    <title>Document</title>
</head>

    <script>
        
    </script>

<body>
    <h1>Página principal</h1>
    
    <p>Database</p>
    <select name="" id="">
        <% result.forEach(element => { %>
            <option><%= element.Database %></option>
        <% }) %>
    </select>  
    
</body>
</html>